<div class="right_">
    <div>
        <div class="rn_c">
            <div class="ywtj"><p>分配车辆</p>

                <div class="tool-bar">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input date-picker ng-model="grid.queryInfo.date" placeholder="请选择用车时间">
                        </div>
                        <button class="btn btn-warning btn-sm" ng-click="grid.query()"><i class="fa fa-search fa-fw"></i> 查询</button>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            <table simple-table="grid" class="rbga" border="1">
                <tr class="rlm_bga">
                    <td style="width: 72px;">申请人</td>
                    <td>用车人</td>
                    <td>用车事由</td>
                    <td style="width: 260px;">用车时间</td>
                    <td style="width: 72px;">区域</td>
                    <td>前往地点</td>
                    <td>状态</td>
                    <td>车辆</td>
                    <td>司机</td>
                    <td style="width: 130px;">申请时间</td>
                    <td style="width: 90px;">操作</td>
                </tr>
                <tr class="nr1" ng-repeat="x in grid.items">
                    <td>{{x.proposer.name}}</td>
                    <td>{{x.carUseUserList|caruseusername}}</td>
                    <td>{{x.description}}</td>
                    <td>{{x.beginTime|$date:DateFormat.MINUTE}} ~ {{x.endTime|$date:DateFormat.MINUTE}}</td>
                    <td>{{x.region|region}}</td>
                    <td>{{x.address }}</td>
                    <td>{{x.status.name}}</td>
                    <td>{{x.carUseInfoList[0].car.name}}</td>
                    <td>{{x.carUseInfoList[0].driver.name}}</td>
                    <td>{{x.createTime|$date:DateFormat.MINUTE }}</td>
                    <td>
                        <button class="btn btn-xs btn-success" ng-click="allotCarUse(x)">分配车辆</button>
                    </td>
                </tr>

            </table>

            <div pagination ng-model="grid.currentPage" total-items="grid.total" items-per-page="grid.pageSize"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

