<form class="form-horizontal" role="form" name="carUseForm" >
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">司机</label>

            <div class="col-sm-10">
                <select class="form-control" ng-model="carUserInfo.driver.objectId" validator="required">
                    <option value="">请选择司机</option>
                    <option ng-repeat="x in driverList" value="{{x.objectId}}">{{x.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">车辆</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="carUserInfo.car.objectId" validator="required">
                    <option value="">请选择车辆</option>
                    <option ng-repeat="x in carList" value="{{x.objectId}}">{{x.name + '#' + x.license}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" validation-submit="carUseForm" ng-click="submit()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
    <div cg-busy="promise"></div>
</form>