<div class="right">
    <div>
        <div class="rn_c">
            <div class="ywtj"><p>用车管理</p>

                <div class="tool-bar">
                    <button class="btn btn-primary btn-sm" ng-click="createCarUse()"><i
                            class="fa fa-plus fa-fw"></i> 添加
                    </button>
                    <button class="btn btn-warning btn-sm" ng-click="grid.query()"><i
                            class="fa fa-search fa-fw"></i> 查询
                    </button>
                    <input type="text" class="search" placeholder="开始时间"
                           ng-model='grid.queryInfo.startTime'
                           bs-datepicker="">
                    <input type="text" class="search" placeholder="结束时间"
                           ng-model='grid.queryInfo.startTime'
                           bs-datepicker="">
                </div>
                <div class="clear"></div>
            </div>
            <table simple-table="grid" class="rbga" border="1">
                <tr class="rlm_bga">
                    <td>用车事由</td>
                    <td>开始时间</td>
                    <td>结束时间</td>
                    <td>前往地点</td>
                    <td>车号</td>
                    <td>驾驶员</td>
                    <td style="width: 120px;">操作</td>
                </tr>
                <tr class="nr1" ng-repeat="x in grid.items">
                    <td>{{x.description}}</td>
                    <td>{{x.beginTime | date:'yyyy年MM月dd日 HH:mm'}}</td>
                    <td>{{x.endTime | date:'yyyy年MM月dd日 HH:mm'}}</td>
                    <td>{{x.address }}</td>
                    <td>{{ }}</td>
                    <td>{{ }}</td>
                    <td>
                        <button class="btn btn-xs btn-primary" ng-click="updateCarUse(x)">编辑</button>
                        &nbsp;
                        <button class="btn btn-xs btn-danger" ng-click="deleteCarUse(x)">删除</button>
                    </td>
                </tr>

            </table>

            <div pagination ng-model="grid.currentPage" total-items="grid.total"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

