<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-6">
            <h4>待选车辆</h4>
            <div style="height: 240px; max-height: 320px; overflow-y: auto;">
                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>牌照</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="car in carList"
                        ng-class="{info:isCarSelected(car)}"
                        ng-click="selectCar(car)">
                        <td>{{ car.name }}</td>
                        <td>{{ car.license }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6">
            <h4>待选司机</h4>
            <div style="height: 240px; max-height: 320px; overflow-y: auto;">
                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>手机</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="driver in driverList"
                        ng-class="{info:isDriverSelected(driver)}"
                        ng-click="selectDriver(driver)">
                        <td>{{ driver.name }}</td>
                        <td>{{ driver.telephone }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="margin-top: 8px;">
            <button class="btn btn-primary btn-sm pull-right" ng-click="addCarUseInfo()"><i class="fa fa-plus fa-fw"></i> 添加</button>
        </div>
        <div class="col-xs-12">
            <h4>配车列表</h4>
            <div style="height: 156px; overflow-y: auto;">
                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>车辆</th>
                        <th>牌照</th>
                        <th>司机</th>
                        <th>手机</th>
                        <th style="width: 72px; text-align: center;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="carUseInfo in carUse.carUseInfoList">
                        <td>{{ carUseInfo.car.name }}</td>
                        <td>{{ carUseInfo.car.license }}</td>
                        <td>{{ carUseInfo.driver.name }}</td>
                        <td>{{ carUseInfo.driver.telephone }}</td>
                        <td style="text-align: center;">
                            <button class="btn btn-xs btn-danger" ng-click="deleteCarUseInfo(carUseInfo)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submit()">保存</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</div>
