<form class="form-horizontal" role="form" name="carUseForm">
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">申请人</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" ng-readonly="true"
                       value="{{PageContext.currentUser.name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">区域</label>

            <div class="col-sm-4">
                <input type="radio" name="localCity" ng-model="carUse.localCity" ng-value="1"/> 市内
            </div>
            <div class="col-sm-4">
                <input type="radio" name="localCity" ng-model="carUse.localCity" ng-value="0"/> 市外
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用车事由</label>

            <div class="col-sm-10">
                <textarea type="text" class="form-control"
                          name="description" ng-model="carUse.description"
                          rows="5"
                          validator="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">开始时间</label>

            <div class="col-sm-5">
                <input type="text" class="form-control"
                       ng-model='carUse.beginTime'
                       data-max-date="{{carUse.endTime}}"
                       bs-datepicker="">
            </div>

            <div class="col-sm-5">
                <input type="text" class="form-control"
                       ng-model='carUse.beginTime'
                       bs-timepicker="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">结束时间</label>

            <div class="col-sm-5">
                <input type="text" class="form-control"
                       ng-model='carUse.endTime'
                       data-min-date="{{carUse.beginTime}}"
                       bs-datepicker="">
            </div>

            <div class="col-sm-5">
                <input type="text" class="form-control"
                       ng-model='carUse.endTime'
                       bs-timepicker="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">前往地点</label>

            <div class="col-sm-10">
                <input type="text" class="form-control"
                       name="address" ng-model="carUse.address" validator="required">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" validation-submit="carUseForm" ng-click="submit()">保存</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</form>