<div class="right">
    <div>
        <div class="rn_c">
            <div class="ywtj"><p>用车申请</p>

                <div class="tool-bar">
                    <button class="btn btn-primary btn-sm" ng-click="createCarUse()"><i
                            class="fa fa-plus fa-fw"></i> 添加
                    </button>
                    <button class="btn btn-warning btn-sm" ng-click="grid.query()"><i
                            class="fa fa-search fa-fw"></i> 查询
                    </button>
                    <input type="text" class="search" placeholder="请选择用车时间"
                           ng-model='grid.queryInfo.date'
                           bs-datepicker>
                </div>
                <div class="clear"></div>
            </div>
            <table simple-table="grid" class="rbga" border="1">
                <tr class="rlm_bga">
                    <td>申请人</td>
                    <td>用车事由</td>
                    <td>区域</td>
                    <td>开始时间</td>
                    <td>结束时间</td>
                    <td>前往地点</td>
                    <td style="width: 160px;">操作</td>
                </tr>
                <tr class="nr1" ng-repeat="x in grid.items">
                    <td>{{PageContext.currentUser.name}}</td>
                    <td>{{x.description}}</td>
                    <td>{{x.localCity===1?"市内":"市外"}}</td>
                    <td>{{x.beginTime|$date:DateFormat.MINUTE}}</td>
                    <td>{{x.endTime|$date:DateFormat.MINUTE}}</td>
                    <td>{{x.address }}</td>
                    <td>
                        <button class="btn btn-xs btn-primary" ng-click="updateCarUse(x)">编辑</button>
                        &nbsp;
                        <button class="btn btn-xs btn-primary" ng-click="viewCarUse(x)">查看</button>
                        &nbsp;
                        <button class="btn btn-xs btn-danger" ng-click="deleteCarUse(x)">删除</button>
                    </td>
                </tr>

            </table>

            <div pagination ng-model="grid.currentPage" total-items="grid.total"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

