<form class="form-horizontal" role="form" name="carUseForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">×</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">用车人员</label>

            <div class="col-sm-10">
                <input user-picker placeholder="请选择用车人员" ng-model="userList">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用车事由</label>

            <div class="col-sm-10">
                <textarea type="text" class="form-control"
                          name="description" ng-model="carUse.description"
                          rows="5"
                          validator="required"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用车时间</label>

            <div class="col-sm-5">
                <input date-picker ng-model="carUse.beginTime" format="YYYY-MM-DD HH:mm" placeholder="请选择开始时间"
                       ng-validator="required,daterange" date-before="carUse.endTime" daterange-error-message="开始时间必须在结束时间之前">
            </div>
            <div class="col-sm-5">
                <label class="daterange-split">至</label>
                <input date-picker ng-model="carUse.endTime" format="YYYY-MM-DD HH:mm" placeholder="请选择结束时间"
                       ng-validator="required,daterange" date-after="carUse.beginTime" daterange-error-message="结束时间必须在开始时间之后">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">区域</label>

            <div class="col-sm-10">
                <label class="radio-inline c-radio">
                    <input type="radio" ng-model="carUse.region" ng-value="0">
                    <span class="fa fa-circle"></span>辖区内</label>
                <label class="radio-inline c-radio">
                    <input type="radio" ng-model="carUse.region" ng-value="1">
                    <span class="fa fa-circle"></span>市内</label>
                <label class="radio-inline c-radio">
                    <input type="radio" ng-model="carUse.region" ng-value="2">
                    <span class="fa fa-circle"></span>市外</label>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">前往地点</label>

            <div class="col-sm-10">
                <input type="text" class="form-control"
                       name="address" ng-model="carUse.address" validator="required">
                <h5 ng-if="carUse.objectId"><a class="pull-right" href="javascript:;" ng-click="viewInstanceLog({relatedObjectId: carUse.objectId})">查看审批记录</a></h5>
            </div>
        </div>
        <div class="form-group" ng-if="!carUse.objectId">
            <label class="col-sm-2 control-label">审批人</label>

            <div class="col-sm-10">

                <select class="form-control" user-select="OrganizationManager" placeholder="请选审批人"
                        name="approver" ng-model="carUse.approver.objectId" validator="required">
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" validation-submit="carUseForm" ng-click="submit()">提交</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
    <div cg-busy="promise"></div>
</form>