<form class="form-horizontal" role="form" name="carUseForm">
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-2 control-label">用车事由</label>

            <div class="col-sm-10">
                <textarea type="text" class="form-control"
                          name="description" ng-model="carUse.description"
                          rows="5"
                          validator="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">开始时间</label>

            <div class="col-sm-5">
                <input type="text" class="form-control"
                       ng-model='carUse.startTime' name="startTime"
                       bs-datepicker="">
                {{carUse.startTime  | date:"yyyy-M-d" }}
            </div>

            <div class="col-sm-5">
                <input type="text" class="form-control"
                       ng-model='carUse.startTime' name="startTime"
                       bs-timepicker="">
                {{carUse.startTime | date:"yyyy-M-d HH:mm" }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">前往地点</label>

            <div class="col-sm-10">
                <input type="text" class="form-control"
                       name="address" ng-model="carUse.address" validator="required">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">车辆</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">驾驶员</label>

            <div class="col-sm-10">
                <input type="number" class="form-control" readonly>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" validation-submit="carUseForm" ng-click="submit()">保存</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</form>