
.ywtj {
  .tool-bar {
    float: right;
    .btn {
      float: right;
      margin-left: 10px;
    }
    .search {
      float: right;
      width: 240px;
      height: 30px;
      border: 1px solid #66AFE9;
      padding: 4px 8px;
      font-size: 14px;
    }

    input[bs-datepicker] {
      width: 160px;
    }
  }
}

section {
  margin-top: 12px;
}

.pagination {
  float: right;
}

.validation {
  display: inline-block;
  margin: 0 0 0 4px;
}

.validation.validation-valid {
  color: #32cd54;
  font-size: 80%
}

.validation.validation-invalid {
  color: #A94442;
  font-size: 80%
}

.modal-content {

  border-radius: 0;

  .modal-header {
    background-color: #2798EC;
    color: #FFFFFF;
    cursor: default;
  }
}

.form-group {
}

#toast-container > div {
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}

