$brand-primary: #2798EC;
$brand-success: #5CB85C;
$brand-info: #58b8d4;
$brand-warning: #F0AD4E;
$brand-danger: #D9534F;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.25));
$font-size-small: ceil(($font-size-base * 0.85));

$font-family-sans-serif: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

