<div class="right_">
    <div>
        <div class="rn_c">
            <div class="ywtj"><p>请假申请</p>

                <div class="tool-bar">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="query-date" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" placeholder="请选择请假时间" date-time-input="YYYY-MM-DD"
                                               data-ng-model="grid.queryInfo.date">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="grid.queryInfo.date"
                                                    data-datetimepicker-config="{ dropdownSelector: '#query-date', minView: 'day' }"/>
                                </ul>
                            </div>
                        </div>

                        <button class="btn btn-warning btn-sm" ng-click="grid.query()"><i class="fa fa-search fa-fw"></i> 查询</button>
                        <button class="btn btn-primary btn-sm" ng-click="createLeave()"><i class="fa fa-plus fa-fw"></i> 添加</button>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            <table simple-table="grid" class="rbga" border="1">
                <tr class="rlm_bga">
                    <td>请假人</td>
                    <td>请假时间</td>
                    <td>本市出差</td>
                    <td>请假事由</td>
                    <td>状态</td>
                    <td>申请时间</td>
                    <td style="width: 180px;">操作</td>
                </tr>
                <tr class="nr1" ng-repeat="x in grid.items">
                    <td>{{x.proposer.name}}</td>
                    <td>{{x.beginDate|$date}}~{{x.endDate|$date}}</td>
                    <td>{{x.localCity===1?"是":"否"}}</td>
                    <td>{{x.description}}</td>
                    <td>{{x.status.name}}</td>
                    <td>{{x.createTime|$date:DateFormat.MINUTE }}</td>
                    <td>
                        <button class="btn btn-xs btn-primary" ng-click="updateLeave(x)">编辑</button>
                        &nbsp;
                        <button class="btn btn-xs btn-primary" ng-click="viewLeaveInstance(x)">查看流程</button>
                        &nbsp;
                        <button class="btn btn-xs btn-danger" ng-click="deleteLeave(x)">删除</button>
                    </td>
                </tr>

            </table>

            <div pagination ng-model="grid.currentPage" total-items="grid.total" items-per-page="grid.pageSize"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
