<div class="right_">
    <div>
        <div class="rn_c">
            <div class="ywtj"><p>App版本管理</p>

                <div class="tool-bar">
                    <form class="form-inline" role="form">
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control input-sm" placeholder="请输入版本号"
                                   ng-model='grid.queryInfo.version'>
                        </div>
                        <button class="btn btn-warning btn-sm" ng-click="grid.query()"><i class="fa fa-search fa-fw"></i> 查询</button>
                        <button class="btn btn-primary btn-sm" ng-click="createAppVersion()"><i class="fa fa-plus fa-fw"></i> 添加</button>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            <table simple-table="grid" class="rbga" border="1">
                <tr class="rlm_bga">
                    <td>平台</td>
                    <td>版本号</td>
                    <td>状态</td>
                    <td>描述</td>
                    <td>上传人</td>
                    <td>上传时间</td>
                    <td style="width: 180px;">操作</td>
                </tr>
                <tr class="nr1" ng-repeat="x in grid.items">
                    <td>{{x.platform}}</td>
                    <td>{{x.version}}</td>
                    <td>{{x.status===1?"启用":"未启用"}}</td>
                    <td>{{x.description}}</td>
                    <td>{{x.creatorInfo.name}}</td>
                    <td>{{x.createTime|$date:DateFormat.MINUTE }}</td>
                    <td>
                        <button ng-show="x.status==0"
                                class="btn btn-xs btn-success" ng-click="enableAppVersion(x)">启用
                        </button>
                        <button ng-show="x.status==1"
                                class="btn btn-xs btn-primary" ng-click="disableAppVersion(x)">停用
                        </button>
                        &nbsp;
                        <button class="btn btn-xs btn-danger" ng-click="deleteAppVersion(x)">删除</button>
                    </td>
                </tr>

            </table>

            <div pagination ng-model="grid.currentPage" total-items="grid.total" items-per-page="grid.pageSize"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

