<div class="right">
    <div>
        <div class="rn_c">
            <div class="ywtj"><p>培训申请</p>
                <div class="tool-bar">
                    <button class="btn btn-primary btn-sm" ng-click="createTraining()"><i
                            class="fa fa-plus fa-fw"></i> 添加
                    </button>
                    <button class="btn btn-warning btn-sm" ng-click="grid.query()"><i
                            class="fa fa-search fa-fw"></i> 查询
                    </button>
                    <input type="text" class="search" placeholder="请选择培训时间"
                           ng-model='grid.queryInfo.date'
                           bs-datepicker>
                </div>
                <div class="clear"></div>
            </div>
            <table simple-table="grid" class="rbga" border="1">
                <tr class="rlm_bga">
                    <td>申请人</td>
                    <td>培训时间</td>
                    <td>培训地点</td>
                    <td>培训内容</td>
                    <td>培训对象</td>
                    <td>参训人数</td>
                    <td>公示情况</td>
                    <td>状态</td>
                    <td>申请时间</td>
                    <td style="width: 120px;">操作</td>
                </tr>
                <tr class="nr1" ng-repeat="x in grid.items">
                    <td>{{x.proposer.name}}</td>
                    <td>{{x.beginDate|$date}}~{{x.endDate|$date}}</td>
                    <td>{{x.address}}</td>
                    <td>{{x.content}}</td>
                    <td>{{x.target}}</td>
                    <td>{{x.peopleCount | number}}</td>
                    <td>{{x.publicity}}</td>
                    <td>{{x.status.name}}</td>
                    <td>{{x.createTime|$date:DateFormat.MINUTE }}</td>
                    <td>
                        <button class="btn btn-xs btn-primary" ng-click="updateTraining(x)">编辑</button>
                        &nbsp;
                        <button class="btn btn-xs btn-primary" ng-click="viewTraining(x)">查看</button>
                        &nbsp;
                        <button class="btn btn-xs btn-danger" ng-click="deleteTraining(x)">删除</button>
                    </td>
                </tr>

            </table>

            <div pagination ng-model="grid.currentPage" total-items="grid.total"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
