<form class="form-horizontal" role="form" name="driverForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">×</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-3 control-label">姓名</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" name="name" ng-model="driver.name" validator="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态</label>

            <div class="col-sm-9">
                <label class="radio-inline c-radio">
                    <input type="radio" ng-model="driver.status" ng-value="1">
                    <span class="fa fa-circle"></span>在职</label>
                <label class="radio-inline c-radio">
                    <input type="radio" ng-model="driver.status" ng-value="0">
                    <span class="fa fa-circle"></span>离职</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">性别</label>

            <div class="col-sm-9">
                <label class="radio-inline c-radio">
                    <input type="radio" ng-model="driver.gender" ng-value="1">
                    <span class="fa fa-circle"></span>男</label>
                <label class="radio-inline c-radio">
                    <input type="radio" ng-model="driver.gender" ng-value="0">
                    <span class="fa fa-circle"></span>女</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">身份证</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" name="identityCard" ng-model="driver.identityCard">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">驾照编号</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" name="licenseCode" ng-model="driver.licenseCode">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">获得驾照日期</label>

            <div class="col-sm-9">
                <input date-picker ng-model="driver.licenseDate" placeholder="请选择获得驾照日期">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">出生日期</label>
            <div class="col-sm-9">
                <input date-picker ng-model="driver.birthday" placeholder="请选择出生日期">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系电话</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" name="telephone" ng-model="driver.telephone">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>

            <div class="col-sm-9">
                <textarea rows="5" class="form-control" name="description"
                          ng-model="driver.description"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" validation-submit="driverForm" ng-click="submit()">保存</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
    <div cg-busy="promise"></div>
</form>