<form class="form-horizontal" role="form" name="carForm">
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-2 control-label">名称</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" ng-model="car.name" validator="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">认证</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" name="license" ng-model="car.license" validator="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">容量</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" name="capacity" ng-model="car.capacity"
                       validator="required,number">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">购买日期</label>

            <div class="col-sm-10">
                <input type="text" class="form-control"
                       ng-model='car.purchaseDate' name="purchaseDate"
                       bs-datepicker="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">状态</label>

            <div class="col-sm-5">
                <input type="radio" name="status" ng-model="car.status" ng-value="1"/> 启用
            </div>
            <div class="col-sm-5">
                <input type="radio" name="status" ng-model="car.status" ng-value="0"/> 报废
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">备注</label>

            <div class="col-sm-10">
                <textarea rows="5" class="form-control" name="description"
                          ng-model="car.description"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" validation-submit="carForm" ng-click="submit()">保存</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</form>