<div class="right_">
    <div>
        <div class="rn_c">
            <div class="ywtj"><p>车辆管理</p>

                <div class="tool-bar">
                    <form class="form-inline" role="form">
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control input-sm" placeholder="请输入车辆名称"
                                   ng-model='grid.queryInfo.name'>
                        </div>
                        <button class="btn btn-warning btn-sm" ng-click="grid.query()"><i class="fa fa-search fa-fw"></i> 查询</button>
                        <button class="btn btn-primary btn-sm" ng-click="createCar()"><i class="fa fa-plus fa-fw"></i> 添加</button>
                    </form>
                 </div>
                <div class="clear"></div>
            </div>
            <table simple-table="grid" class="rbga" border="1">
                <tr class="rlm_bga">
                    <td>车辆名称</td>
                    <td>牌照</td>
                    <td>人数</td>
                    <td>购买日期</td>
                    <td>状态</td>
                    <td>备注</td>
                    <td style="width: 120px;">操作</td>
                </tr>
                <tr class="nr1" ng-repeat="x in grid.items">
                    <td>{{x.name}}</td>
                    <td>{{x.license}}</td>
                    <td>{{x.capacity}}</td>
                    <td>{{x.purchaseDate|$date}}</td>
                    <td>{{x.status===1?"启用":"报废"}}</td>
                    <td>{{x.description}}</td>
                    <td>
                        <button class="btn btn-xs btn-primary" ng-click="updateCar(x)">编辑</button>
                        <button class="btn btn-xs btn-danger" ng-click="deleteCar(x)">删除</button>
                    </td>
                </tr>

            </table>

            <div pagination ng-model="grid.currentPage" total-items="grid.total" items-per-page="grid.pageSize"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

