<form class="form-horizontal" role="form" name="approveForm">
    <div class="modal-header">
        <h4 class="modal-title">{{task.flowType}}</h4>
    </div>
    <div class="modal-body">
        <fieldset>
            <div ng-include="viewTemplate" ng-init="objectId=task.relatedObjectId"></div>
        </fieldset>
        <hr>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label">审批意见</label>

                <div class="col-sm-10">
                    <textarea class="form-control"
                              name="description" ng-model="approveInfo.opinion"
                              rows="5"
                              placeholder="请输入审批意见"
                              validator="required"></textarea>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="modal-footer" style="text-align: center;">
        <button ng-if="flowNode.passAction" class="btn btn-primary" ng-click="process('pass')">通过</button>
        <button ng-if="flowNode.returnAction" class="btn btn-danger" validation-submit="approveForm" ng-click="process('return')">退回</button>
        <button ng-if="flowNode.rejectAction" class="btn btn-danger" validation-submit="approveForm" ng-click="process('reject')">否决</button>
        <button ng-if="flowNode.completeAction" class="btn btn-success" ng-click="process('complete')">完成</button>
        <button ng-if="flowNode.discardAction" class="btn btn-danger" validation-submit="approveForm" ng-click="process('discard')">弃权</button>
    </div>
</form>