<div class="right">
    <div>
        <div class="rn_c">
            <div class="ywtj"><p>待办事项</p>

                <div class="tool-bar">
                    <!--<button class="btn btn-primary btn-sm" ng-click="createTraining()"><i-->
                    <!--class="fa fa-plus fa-fw"></i> 添加-->
                    <!--</button>-->
                    <button class="btn btn-warning btn-sm" ng-click="grid.query()"><i
                            class="fa fa-search fa-fw"></i> 查询
                    </button>
                    <input type="text" class="search" placeholder="请选择流程类型"
                           ng-model='grid.queryInfo.date'
                           bs-datepicker>
                    <input type="text" class="search" placeholder="请选择日期"
                           ng-model='grid.queryInfo.date'
                           bs-datepicker>

                    <button class="btn btn-xs btn-primary" ng-click="process(x)">处理</button>
                </div>
                <div class="clear"></div>
            </div>
            <table simple-table="grid" class="rbga" border="1">

                <tr class="rlm_bga">
                    <td>流程名称</td>
                    <td>流程类型</td>
                    <td>流程节点</td>
                    <td>状态</td>
                    <td>期限(工作小时)</td>
                    <td>发起单位</td>
                    <td>发起人</td>
                    <td>处理结果</td>
                    <td>开始时间</td>
                    <td>完成时间</td>
                </tr>
                <tr class="nr1" ng-repeat="x in grid.items">
                    <td>{{x.instanceName}}</td>
                    <td>{{x.flowType}}</td>
                    <td>{{x.flowNodeName}}</td>
                    <td>{{x.taskStatusName}}</td>
                    <td>{{x.taskExpiration}}</td>
                    <td>{{x.organizationName}}</td>
                    <td>{{x.creatorName}}</td>
                    <td>{{x.result}}</td>
                    <td>{{x.taskArriveTime}}</td>
                    <td>{{x.taskFinishTime}}</td>
                    <td>
                        <button class="btn btn-xs btn-primary" ng-click="process(x)">处理</button>
                    </td>
                </tr>

            </table>

            <div pagination ng-model="grid.currentPage" total-items="grid.total"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
