<div class="right">
    <div>
        <div class="rn_c">
            <div class="ywtj"><p>会场管理</p>
                <button class="btn btn-primary btn-sm pull-right" ng-click="createMeetingRoom()"><i class="fa fa-plus fa-fw"></i> 添加</button>
                <div class="clear"></div>
            </div>
            <table simple-table="grid" class="rbga" border="1">
                <tr class="rlm_bga">
                    <td>名称</td>
                    <td>备注</td>
                    <td style="width: 120px;">操作</td>
                </tr>
                <tr class="nr1" ng-repeat="x in grid.items">
                    <td>{{x.name}}</td>
                    <td>{{x.description}}</td>
                    <td>
                        <button class="btn btn-xs btn-primary" ng-click="updateMeetingRoom(x)">编辑</button>
                        &nbsp;
                        <button class="btn btn-xs btn-danger" ng-click="deleteMeetingRoom(x)">删除</button>
                    </td>
                </tr>

            </table>

            <div pagination ng-model="grid.currentPage" total-items="grid.total"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

