<div class="main">
    <div class="left_">
        <div class="left_n">
            <div class="l_bt">OA办公平台</div>
            <div class="l_lbxh">
                <p><img src="assets/images/l_6.png"/>个人工作室</p><img src="assets/images/l_3.png"/>

                <div class="clear"></div>
                <ul>
                    <li><a ui-sref="oa.task.pending">待办事项</a></li>
                    <li><a ui-sref="oa.task.handled">已办事项</a></li>
                    <li><a ui-sref="oa.instance.list">发起流程</a></li>
                    <li><a href="javascript:;" ng-click="modifyPassword()">修改密码</a></li>
                </ul>
            </div>

            <div class="l_lbxh">
                <p><img src="assets/images/l_6.png"/>业务管理</p><img src="assets/images/l_3.png"/>

                <div class="clear"></div>
                <ul>
                    <li><a ui-sref="oa.instance.all">流程查看</a></li>
                    <li ng-repeat="x in menus"><a href="#{{x.url}}">{{x.text}}</a></li>
                </ul>
            </div>
            <div ng-if="PageContext.currentUser.isAdmin" class="l_lbxh">
                <p><img src="assets/images/l_6.png"/>系统管理</p><img src="assets/images/l_3.png"/>

                <div class="clear"></div>
                <ul>
                    <li><a href="{{PageContext.path + '/security/main.page'}}">进入后台管理</a></li>
                </ul>
            </div>

        </div>
        <div class="mid" ng-style="{height: getMenuHeight()}"></div>
        <div class="clear"></div>
    </div>
    <div ui-view></div>
    <div class="clear"></div>
</div>