<form class="form-horizontal" role="form" name="outgoingForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">×</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">出差人</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" ng-readonly="true"
                       value="{{PageContext.currentUser.name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">出差时间</label>

            <div class="col-sm-5">
                <input type="text" class="form-control"
                       ng-model='outgoing.beginDate' name="beginDate"
                       data-max-date="{{outgoing.endDate}}"
                       bs-datepicker="">
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control"
                       ng-model='outgoing.endDate' name="endDate"
                       data-min-date="{{outgoing.beginDate}}"
                       bs-datepicker="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">本市出差</label>
            <div class="col-sm-10">
                <label class="radio-inline c-radio">
                    <input type="radio" ng-model="outgoing.localCity" ng-value="1">
                    <span class="fa fa-circle"></span>是</label>
                <label class="radio-inline c-radio">
                    <input type="radio" ng-model="outgoing.localCity" ng-value="0">
                    <span class="fa fa-circle"></span>否</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">出差事由</label>

            <div class="col-sm-10">
                <textarea class="form-control" name="description"
                          ng-model="outgoing.description"
                          validator="required"
                          rows="5"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">目的地</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" name="destination"
                       ng-model="outgoing.destination"
                       validator="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">路线</label>

            <div class="col-sm-10">
                <input type="text" class="form-control"
                       name="driveRoute" ng-model="outgoing.driveRoute" validator="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">交通工具</label>

            <div class="col-sm-10">
                <input type="text" class="form-control"
                       name="transportation" ng-model="outgoing.transportation" validator="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">是否派车</label>
            <div class="col-sm-10">
                <label class="radio-inline c-radio">
                    <input type="radio" ng-model="outgoing.requiredCar" ng-value="1">
                    <span class="fa fa-circle"></span>是</label>
                <label class="radio-inline c-radio">
                    <input type="radio" ng-model="outgoing.requiredCar" ng-value="0">
                    <span class="fa fa-circle"></span>否</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" validation-submit="outgoingForm" ng-click="submit()">保存</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
    <div cg-busy="promise"></div>
</form>