<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    <!-- 注册事件监听器 -->
    <bean id="eventDispatchListener"
          class="com.withub.spring.listener.EventDispatchListener"/>
    <bean id="eventDispatchConfigInfo"
          class="com.withub.spring.listener.EventDispatchConfigInfo">
        <property name="listenerList">
            <list>
                <value>securityListener</value>
                <value>authorizationClusterListener</value>
                <value>workflowListener</value>
                <value>taskListener</value>
            </list>
        </property>
    </bean>


    <bean id="securityListener" class="com.withub.spring.listener.EventHandlerConfigInfo">
        <property name="eventHandlerMap">
            <map>
                <entry key="com.withub.model.security.event.LoginEvent"
                       value="securityService.onLoginEvent"/>
                <entry key="com.withub.model.security.event.LogoutEvent"
                       value="securityService.onLogoutEvent"/>
            </map>
        </property>
    </bean>

    <bean id="authorizationClusterListener" class="com.withub.spring.listener.EventHandlerConfigInfo">
        <property name="eventHandlerMap">
            <map>
                <entry key="com.withub.model.system.event.UserSaveEvent"
                       value="authorizationClusterService.onUserSaveEvent"/>
            </map>
        </property>
    </bean>

    <!-- 工作流事件监听器 -->
    <bean id="workflowListener" class="com.withub.spring.listener.EventHandlerConfigInfo">
        <property name="eventHandlerMap">
            <map>
                <entry key="com.withub.model.workflow.event.DecisionCreateEvent"
                       value="workflowService.onDecisionCreateEvent"/>
                <entry key="com.withub.model.workflow.event.instanceevent.InstanceDeleteEvent"
                       value="workflowService.onInstanceDeleteEvent"/>
                <entry key="com.withub.model.entity.event.EntityLogicDeleteEvent"
                       value="workflowService.onEntityLogicDeleteEvent"/>
            </map>
        </property>
    </bean>

    <bean id="taskListener" class="com.withub.spring.listener.EventHandlerConfigInfo">
        <property name="eventHandlerMap">
            <map>
                <entry key="com.withub.model.workflow.event.instanceevent.InstanceCreateEvent"
                       value="taskService.onInstanceCreateEvent"/>
                <entry key="com.withub.model.workflow.event.instanceevent.InstanceDeleteEvent"
                       value="taskService.onInstanceDeleteEvent"/>
                <entry key="com.withub.model.workflow.event.instanceevent.InstanceAbortEvent"
                       value="taskService.onInstanceAbortEvent"/>
                <entry key="com.withub.model.std.event.agencyevent.AgencyCreatedEvent"
                       value="taskService.onAgencyCreatedEvent"/>
                <entry key="com.withub.model.std.event.agencyevent.AgencyFinishedEvent"
                       value="taskService.onAgencyFinishedEvent"/>
                <entry key="com.withub.model.workflow.event.taskevent.TaskCreateEvent"
                       value="taskService.onTaskCreateEvent"/>
                <entry key="com.withub.model.workflow.event.taskevent.ModifyTaskCreateEvent"
                       value="taskService.onModifyTaskCreateEvent"/>
            </map>
        </property>
    </bean>

</beans>