/*---------------------------------------登录样式----------------------------------------------------*/
.dlk { background: url(../images/login/lgbg.png) no-repeat; margin:auto; width:850px; height:502px; margin-top:42px;}
.user {margin:200px 60px 0px 0px; display:inline; float: right; line-height:42px; color:#484848; font-size:14px;}
.user input { background:#fcfdff; border:1px solid #264154; height:24px; width:220px;}
.btn { margin-top:48px; cursor: pointer;}
.btn img { padding-right:10px;}


.rn_c {width:98%;_width:98%; float:left; margin-top:10px; margin-left:10px; display:inline;}
.fkn { float:left; padding-top:5px;}
.ccx img { margin-left:10px;float:left; margin-bottom:7px;}
.ywtj { border-bottom:1px solid #0c9bab; margin-bottom:7px;padding-bottom:4px;}
.ywtj p{ float:left; font-size:14px; font-weight:bold;  color:#024f97; padding-top:5px;}
.ywtj img { float:right;}
.ywtj1 {font-size:14px; font-weight:bold;  color:#024f97; padding-top:5px;border-bottom:1px solid #0c9bab;padding-bottom:4px; margin:10px 10px 0px 10px;}