
section {
  margin-top: 12px;
}

.pagination {
  float: right;
}

.validation {
  display: inline-block;
  margin: 0 0 0 4px;
}

.validation.validation-valid {
  color: #32cd54;
  font-size: 80%
}

.validation.validation-invalid {
  color: #df2929;
  font-size: 80%
}

//.ng-invalid.ng-dirty {
//  .has-error .form-control
//}
//
//label.has-error.control-label {
//  .has-error .control-label
//}

.modal-content {

  border-radius: 0;

  .modal-header {
    background-color: #2798EC;
    color: #FFFFFF;
    cursor: default;
  }
}

