
.inspector .group > .group-label:before {
  content: '';
}

.diagram {
  width: 1200px;
  margin: 12px auto;
  .panel {
    margin-bottom: 0;
  }
  .panel-body {
    padding: 0;
  }
}

.halo {
  .handle.clone {
    display: none;
  }
  .handle.rotate {
    display: none;
  }
  .handle.fork {
    display: none;
  }
  .box {
    display: none;
  }
}

.inspector {
  .field {
    display: block;
    margin: 10px 4px;
  }
  label {
    display: block;
    float: left;
    width: 90px;
    margin: 0;
    clear: both;
  }

  input, select, textarea {
    width: 200px;
    padding: 4px;
    height: 22px;
  }
  select {
    padding: 2px;
    color: #333;
  }
  textarea {
    height: 64px;
  }
}

#stencil-container {
  display: inline-block;
  width: 180px;
  height: 480px;
  float: left;
  position: relative;
}

#paper-container {
  display: inline-block;
  width: 640px;
  height: 480px;
  float: left;
  position: relative;
}

#inspector-container {
  margin-top: 8px;
  display: inline-block;
  width: 360px;
  height: 460px;
  position: relative;
  font-size: 12px;
  background-color: #333;
  color: #bcbcbc;
  .inspector .group.closed {
    height: 36px;
  }

}
